@font-face {
    font-family: 'Interstate';
    src: url('../fonts/Interstate-Black.otf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'TM Sans';
    src: url('../fonts/TMSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TM Sans';
    src: url('../fonts/TMSans-Italic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TM Sans';
    src: url('../fonts/TMSans-Light.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'TM Sans';
    src: url('../fonts/TMSans-Bold.otf');
    font-weight: bold;
    font-style: normal;
}